<configuration>

<!--    <appender name="mask" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
<!--            <layout class="com.example.aton_final_project.util.masking.MaskingPatternLayout">-->
<!--                <maskPattern>\"SSN\"\s*:\s*\"(.*?)\"</maskPattern> &lt;!&ndash; SSN JSON pattern &ndash;&gt;-->
<!--                <maskPattern>\"address\"\s*:\s*\"(.*?)\"</maskPattern> &lt;!&ndash; Address JSON pattern &ndash;&gt;-->
<!--                <maskPattern>(\d+\.\d+\.\d+\.\d+)</maskPattern> &lt;!&ndash; Ip address IPv4 pattern &ndash;&gt;-->
<!--                <maskPattern>(\w+@\w+\.\w+)</maskPattern> &lt;!&ndash; Email pattern &ndash;&gt;-->
<!--                <pattern>%-5p [%d{ISO8601,UTC}] [%thread] %c: %m%n%rootException</pattern>-->
<!--            </layout>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <logger name="aton_final_project" level="debug" additivity="false">-->
<!--        <appender-ref ref="mask" />-->
<!--    </logger>-->

<!--    <root level="info">-->
<!--        <appender-ref ref="console" />-->
<!--    </root>-->

</configuration>