<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.aton_final_project.model.dao.StatisticsMapper">
<!--최신 가입 회원 단건 조회-->
    <select id="findLastOneMember" resultType="com.example.aton_final_project.model.dto.MemberResponseDto">
        SELECT m.username, m.registerDate, m.member_id AS memberId, t.encrypt_key AS encryptKey
        FROM member m
             JOIN accesstoken t ON t.member_id = m.member_id
        ORDER BY m.member_id DESC
        LIMIT 1;
    </select>
    <!--최신 가입 승인 단건 조회-->
    <select id="findLastOneApprovedMember" resultType="com.example.aton_final_project.model.dto.MemberResponseDto">
        SELECT m.username, m.member_id AS memberId, m.approvalDate, t.encrypt_key AS encryptKey
        FROM member m
                 JOIN accesstoken t ON t.member_id = m.member_id
        where approvalDate IS NOT NULL
        ORDER BY m.member_id DESC LIMIT 1;
    </select>
    <!--최신 등록 서비스 단건 조회-->
    <select id="findLastOneService" resultType="com.example.aton_final_project.model.dto.MemberServiceRegisterResponseDto">
        SELECT s.username, s.registerDate, m.member_id AS memberId
        FROM memberserviceregister s
                 JOIN member m ON m.member_id = s.member_id
        ORDER BY s.service_id DESC LIMIT 1;
    </select>
    <!--최신 등록 문의 단건 조회-->
    <select id="findLastOneInquiry" resultType="com.example.aton_final_project.model.dto.InquiryRegisterResponseDto">
        SELECT i.username, i.registerDate, m.member_id AS memberId
        FROM inquiry i
                 JOIN member m ON m.member_id = i.member_id
        ORDER BY i.inquiry_id DESC LIMIT 1;
    </select>
    <!--    전체 관리자 승인 증감율-->
    <select id="findAdminApprovalChangeRate" resultType="com.example.aton_final_project.model.dto.statistics.StatisticsDto">
        SELECT @a := COUNT(*)                                 AS allAdmin,
               @b := (SELECT COUNT(*)
                      FROM memberauthoritiesmapping a
                               JOIN member m ON a.member_id = m.member_id
                               JOIN memberauthoritiescode c
                                    ON c.member_authorities_code_id = a.member_authorities_code_id
                      WHERE c.member_authorities_code_id = 1) AS adminApproved,
               @d := @b * 100 / @a                          AS adminRate
        FROM member
    </select>
<!--    전체 가입 승인 증감율-->
    <select id="findMemberApprovalChangeRate" resultType="com.example.aton_final_project.model.dto.statistics.StatisticsDto">
        SELECT @a := COUNT(*)                     AS allMember,
               @b := (SELECT COUNT(*)
                      FROM member
                      WHERE member_status = 1)    AS memberApproved,
               @d := CAST((@b / @a) * 100 AS int) AS memberRate
        FROM member
    </select>
<!--    전체 서비스 승인 증감율-->
    <select id="findServiceApprovalChangeRate" resultType="com.example.aton_final_project.model.dto.statistics.StatisticsDto">
        SELECT @a := COUNT(*) AS allService,
               @b := (SELECT COUNT(*)
                      FROM memberserviceregister s
                      WHERE service_status = 1 OR service_status = 2) AS serviceApproved,
               @d :=	CAST((@b / @a) * 100 AS int) AS serviceRate
        FROM memberserviceregister
    </select>
<!--    전체 문의 승인 증감율-->
    <select id="findInquiryApprovalChangeRate" resultType="com.example.aton_final_project.model.dto.statistics.StatisticsDto">
        SELECT @a := COUNT(*) AS allInquiry,
               @b := (SELECT COUNT(*)
                      FROM inquiry i
                      WHERE inquiry_status = 1) AS inquiryApproved,
               @d :=	CAST((@b / @a) * 100 AS int) AS inquiryRate
        FROM inquiry
    </select>
<!--    관리자 승인건 조회 -->
    <select id="findAdminApproval" resultType="com.example.aton_final_project.model.dto.statistics.StatisticsDto">
        SELECT COUNT(*) AS adminApproved
        FROM memberauthoritiesmapping a
                 JOIN member m ON a.member_id = m.member_id
                 JOIN memberauthoritiescode c ON c.member_authorities_code_id = a.member_authorities_code_id
        WHERE c.member_authorities_code_id = 1;
    </select>
<!--    가입 승인건 조회-->
    <select id="findMemberApproval" resultType="com.example.aton_final_project.model.dto.statistics.StatisticsDto">
        SELECT COUNT(*) AS memberApproved
        FROM member
        WHERE member_status = 1;
    </select>
<!--    서비스 승인건 조회-->
    <select id="findServiceApproved" resultType="com.example.aton_final_project.model.dto.statistics.StatisticsDto">
        SELECT COUNT(*) AS serviceApproved
        FROM memberserviceregister
        WHERE service_status = 1 OR service_status = 2;
    </select>
<!--    문의 답변건 조회-->
    <select id="findInquiryApproved" resultType="com.example.aton_final_project.model.dto.statistics.StatisticsDto">
        SELECT COUNT(*) AS inquiryApproved
        FROM inquiry
        WHERE inquiry_status = 1
    </select>
<!--    전체 회원 수 조회-->
    <select id="findTotalMember" resultType="com.example.aton_final_project.model.dto.statistics.StatisticsDto">
        SELECT COUNT(*) AS allMember
        FROM member
    </select>
<!--    전체 서비스 신청 회원 수 조회-->
    <select id="findServiceMemberCount" resultType="com.example.aton_final_project.model.dto.statistics.StatisticsDto">
        SELECT COUNT(*) AS allService
        FROM(
                SELECT m.username
                FROM memberserviceregister s
                         JOIN member m ON m.member_id = s.member_id
                GROUP BY m.username
            ) A;
    </select>
<!--    전체 문의 신청 회원 수 조회-->
    <select id="findInquiryMemberCount" resultType="com.example.aton_final_project.model.dto.statistics.StatisticsDto">
        SELECT COUNT(*) AS allInquiry
        FROM(
                SELECT m.username
                FROM inquiry i
                         JOIN member m ON m.member_id = i.member_id
                GROUP BY m.username
            ) A;
    </select>
<!--    내 서비스 신청 진행률-->
<select id="findMyService" resultType="com.example.aton_final_project.model.dto.statistics.MyStatisticsDto">
    SELECT @a := COUNT(*) AS myService,
           @b := (SELECT COUNT(*)
                  FROM memberserviceregister s
                  WHERE ((service_status = 1 OR service_status = 2) AND member_id = #{memberId})) AS myServiceApproved,
           @d :=	(@b / @a) * 100 AS myServiceRate
    FROM memberserviceregister
    WHERE member_id = #{memberId}
</select>
    <!--    내 문의 신청 진행률-->
<select id="findMyInquiry" resultType="com.example.aton_final_project.model.dto.statistics.MyStatisticsDto">
    SELECT @a := COUNT(*) AS myInquiry,
           @b := (SELECT COUNT(*)
                  FROM inquiry i
                  WHERE inquiry_status = 1 AND member_id = #{memberId}) AS myInquiryApproved,
           @d :=	(@b / @a) * 100 AS myInquiryRate
    FROM inquiry i
    WHERE member_id = #{memberId}
</select>
</mapper>
